
.vs/WowHead-DB-parser/v16/ipch/AutoPCH/3b9b6a6a7e553f14/WOWHEAD-DB-PARSER.ipch
.vs/WowHead-DB-parser/v16/.suo
.vs/WowHead-DB-parser/v16/Browse.VC.db
.vs/WowHead-DB-parser/v16/Browse.VC.db-shm
.vs/WowHead-DB-parser/v16/Browse.VC.db-wal
.vs/WowHead-DB-parser/v16/Browse.VC.opendb
.vs/WowHead-DB-parser/v16/ipch/AutoPCH/2e1b42519971e8f/WOWHEAD-DB-PARSER.ipch
